<H1 id="<%= projectId %>"><%= projectName %> (<%= pending.length %>) <a href="#summary">[↥]</a></H1>

#|TAG|NAME
:-:|:-:|:-
<% pending.forEach(function(task, idx) { -%>
<%= idx + 1 %>| |[<%= helpers.removeYouTubeKeyword(task.content.text) %>](<%= task.content.link %>)
<% }) -%>
[[↥]](#<%= projectId %>)

// TODO: resolver os itens das `sections` também

---

<H3 id="<%=projectId%>-archived-items">Archived items</H3>

<details open>

#|TAG|NAME
:-:|:-:|:-
<% archived.forEach(function(task, idx) { -%>
<%= idx + 1 %>| |[<%= helpers.removeYouTubeKeyword(task.content.text) %>](<%= task.content.link %>)
<% }) -%>
[[↥]](#<%=projectId%>-archived-items)

</details>
