<%
const GO_TO_TOP = '[↥]';
const elGoToSummary = helpers.formatAsHyperlink(GO_TO_TOP, '#summary');

generateUniqueId = id => `pending-items-${id}`;
currId = generateUniqueId(projectId);
someTaskHasTag = helpers.isSomeTaskHasTag(rootTasks);
const primaryTitle = `${projectName} (${rootTasks.length})`;
-%>
<H1 id="<%= currId %>"><%- elGoToSummary -%> <%- primaryTitle -%></H1>

<table>
  <thead>
    <tr>
      <th align="center">#</th>
      <%_ if (someTaskHasTag) { _%>
      <th align="center">TAG</th>
      <%_ }; _%>
      <th align="left">NAME</th>
    </tr>
  </thead>
  <tbody>
    <%_ rootTasks.forEach(function(task, idx) { _%>
    <tr>
      <td align="center"><%= idx + 1 -%></td>
      <%_ if (someTaskHasTag) { _%>
      <td align="center"><%= helpers.resolveTag(task.content.tag) -%></td>
      <%_ } _%>
      <td align="left"><%- helpers.formatAsHyperlink(task.content.text, task.content.link) -%></td>
    </tr>
    <%_ }); _%>
    <tr>
      <td align="center"><%- helpers.formatAsHyperlink(GO_TO_TOP, '#' + currId) -%></td>
    </tr>
  </tbody>
</table>

<%_ tasksInSections.forEach(function ([sectionId, tasks], idx) { _%>
<%
currId = generateUniqueId(sectionId);
someTaskHasTag = helpers.isSomeTaskHasTag(tasks);
const content = sectionsNameById[sectionId];
const title = `${helpers.formatAsHyperlink(content.text, content.link)} (${tasks.length})`;
-%>
<H2 id="<%= currId %>"><%- elGoToSummary -%> <%- title -%></H2>

<table>
  <thead>
    <tr>
      <th align="center">#</th>
      <%_ if (someTaskHasTag) { _%>
      <th align="center">TAG</th>
      <%_ } _%>
      <th align="left">NAME</th>
    </tr>
  </thead>
  <tbody>
    <%_ tasks.forEach(function(task, idx) { _%>
    <tr>
      <td align="center"><%= idx + 1 -%></td>
      <%_ if (someTaskHasTag) { _%>
      <td align="center"><%= helpers.resolveTag(task.content.tag) -%></td>
      <%_ } _%>
      <td align="left"><%- helpers.formatAsHyperlink(task.content.text, task.content.link) -%></td>
    </tr>
    <%_ }); _%>
    <tr>
      <td align="center"><%- helpers.formatAsHyperlink(GO_TO_TOP, '#' + currId) -%></td>
    </tr>
  </tbody>
</table>
<%_ }); _%>

---

<%
generateUniqueId = id => `archived-items-${id}`;
currId = generateUniqueId(projectId);
someTaskHasTag = helpers.isSomeTaskHasTag(archived);
const secondaryTitle = `Archived items (${archivedRootTasks.length})`;
-%>
<H3 id="<%= currId %>"><%- secondaryTitle -%></H3>

<details>

  <table>
    <thead>
      <tr>
        <th align="center">#</th>
        <%_ if (someTaskHasTag) { _%>
        <th align="center">TAG</th>
        <%_ }; _%>
        <th align="left">NAME</th>
      </tr>
    </thead>
    <tbody>
      <%_ archivedRootTasks.forEach(function(task, idx) { _%>
      <tr>
        <td align="center"><%= idx + 1 -%></td>
        <%_ if (someTaskHasTag) { _%>
        <td align="center"><%= helpers.resolveTag(task.content.tag) -%></td>
        <%_ } _%>
        <%_ if (task.checked) { _%>
        <td align="left"><%- helpers.formatAsHyperlink(task.content.text, task.content.link) -%></td>
        <%_ } else { _%>
        <td align="left"><%- helpers.formatAsPending(helpers.formatAsHyperlink(task.content.text, task.content.link)) -%></td>
        <%_ } _%>
      </tr>
      <%_ }); _%>
      <tr>
        <td align="center"><%- helpers.formatAsHyperlink(GO_TO_TOP, '#' + currId) -%></td>
      </tr>
    </tbody>
  </table>

  <%_ archivedTasksInSections.forEach(function ([sectionId, tasks], idx) { _%>
  <%
  currId = generateUniqueId(sectionId);
  someTaskHasTag = helpers.isSomeTaskHasTag(tasks);
  const content = sectionsNameById[sectionId];
  const title = `${helpers.formatAsHyperlink(content.text, content.link)} (${tasks.length})`;
  %>
  <H4 id="<%= currId %>"><%- elGoToSummary -%> <%- title -%></H4>

  <table>
    <thead>
      <tr>
        <th align="center">#</th>
        <%_ if (someTaskHasTag) { _%>
        <th align="center">TAG</th>
        <%_ } _%>
        <th align="left">NAME</th>
      </tr>
    </thead>
    <tbody>
      <%_ tasks.forEach(function(task, idx) { _%>
      <tr>
        <td align="center"><%= idx + 1 -%></td>
        <%_ if (someTaskHasTag) { _%>
        <td align="center"><%= helpers.resolveTag(task.content.tag) -%></td>
        <%_ } _%>
        <td align="left"><%- helpers.formatAsHyperlink(task.content.text, task.content.link) -%></td>
      </tr>
      <%_ }); _%>
      <tr>
        <td align="center"><%- helpers.formatAsHyperlink(GO_TO_TOP, '#' + currId) -%></td>
      </tr>
    </tbody>
  </table>
  <%_ }); _%>

</details
